@use "sass:map";
@use "svgs";
@use "var";

/* ----- generic settings ----- */
[class*="twicon-"] {
  display: inline-flex !important;
  width: 1em;
  aspect-ratio: 1;
  overflow: hidden;
  vertical-align: middle;
  translate: 0 -15%;
  align-content: center;
  &::before {
    content: "";
    flex: 95% 0 0;
    aspect-ratio: 1;
    background-color: currentColor;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

/* ----- icon sizes ----- */
[class|="twicon"].size-xs {
  width: 0.6em;
}
[class|="twicon"].size-s {
  width: 0.8em;
}
[class|="twicon"].size-m {
  width: 1.25em;
}
[class|="twicon"].size-l {
  width: 1.5em;
}
[class|="twicon"].size-xl {
  width: 2em;
}
[class|="twicon"].size-xxl {
  width: 3em;
}

/* ----- the icons ----- */
/* template */
.twicon-template::before {
  mask-image: unset;
}

/* ----- currency icons ----- */
.twicon-copper::before {
  background-color: map.get(var.$coin_colors, copper) !important;
  mask-image: svgs.$coin_copper;
}
.twicon-silver::before {
  background-color: map.get(var.$coin_colors, silver) !important;
  mask-image: svgs.$coin_silver;
}
.twicon-gold::before {
  background-color: map.get(var.$coin_colors, gold) !important;
  mask-image: svgs.$coin_gold;
}
.twicon-platin::before {
  background-color: map.get(var.$coin_colors, platin) !important;
  mask-image: svgs.$coin_platin;
}

/* ----- dice icons ----- */
.twicon-advantage::before {
  background-color: var(--color-green) !important;
  mask-image: svgs.$tw_dice_advantage;
}
.twicon-disadvantage::before {
  background-color: var(--color-red) !important;
  mask-image: svgs.$tw_dice_disadvantage;
}

/* ----- combat ----- */
.twicon-melee::before {
  mask-image: svgs.$tw_combat_melee;
}
.twicon-ranged::before {
  mask-image: svgs.$tw_combat_ranged;
}
.twicon-unarmed::before {
  mask-image: svgs.$tw_weapon_strike;
}

/* ----- damage types ----- */
.twicon-piercing::before {
  mask-image: svgs.$combat_piercing;
}
.twicon-slashing::before {
  mask-image: svgs.$tw_combat_reach;
}
.twicon-poison::before {
  background-color: #7b1fa2;
  mask-image: svgs.$tw_damage_poison;
}

/* ----- areas types ----- */
.twicon-line::before {
  mask-image: svgs.$tw_target_line;
}
.twicon-circle::before {
  mask-image: svgs.$tw_target_circle;
}
.twicon-square::before {
  mask-image: svgs.$tw_target_square;
}
.twicon-cone::before {
  mask-image: svgs.$tw_target_cone;
}
.twicon-cube::before {
  mask-image: svgs.$tw_target_cube;
}
.twicon-cylinder::before {
  mask-image: svgs.$tw_target_cylinder;
}
.twicon-sphere::before {
  mask-image: svgs.$tw_target_sphere;
}

/* ----- movement types ----- */
.twicon-burrowing::before {
  mask-image: svgs.$tw_movement_burrowing;
}
.twicon-climbing::before {
  mask-image: svgs.$tw_movement_climbing;
}
.twicon-flying::before {
  mask-image: svgs.$tw_movement_flying;
}
.twicon-swimming::before {
  mask-image: svgs.$tw_movement_swimming;
}
.twicon-walking::before {
  mask-image: svgs.$tw_movement_walking;
}
