@use "svgs";

/* ----- generic settings ----- */
[class|="icon"] {
  display: inline-flex;
  width: 1em;
  aspect-ratio: 1;
  overflow: hidden;
  vertical-align: middle;
  translate: 0 -15%;
  align-content: center;
  &::before {
    content: "";
    flex: 95% 0 0;
    aspect-ratio: 1;
    background-color: currentColor;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

/* ----- icon sizes ----- */
[class|="icon"].size-xs {
  width: 0.6em;
}
[class|="icon"].size-s {
  width: 0.8em;
}
[class|="icon"].size-m {
  width: 1.25em;
}
[class|="icon"].size-l {
  width: 1.5em;
}
[class|="icon"].size-xl {
  width: 2em;
}
[class|="icon"].size-xxl {
  width: 3em;
}

/* ----- the icon ----- */
/* template */
.icon-template::before {
  mask-image: unset;
}

/* ----- dice icons ----- */
.icon-advantage::before {
  background-color: var(--color-green) !important;
  mask-image: svgs.$tw_dice_advantage;
}
.icon-disadvantage::before {
  background-color: var(--color-red) !important;
  mask-image: svgs.$tw_dice_disadvantage;
}

/* ----- combat ----- */
.icon-melee::before {
  mask-image: svgs.$tw_combat_melee;
}
.icon-ranged::before {
  mask-image: svgs.$tw_combat_ranged;
}
.icon-unarmed::before {
  mask-image: svgs.$tw_weapon_strike;
}

/* ----- damage types ----- */
.icon-piercing::before {
  mask-image: svgs.$combat_piercing;
}
.icon-slashing::before {
  mask-image: svgs.$tw_combat_reach;
}
.icon-poison::before {
  background-color: #7b1fa2;
  mask-image: svgs.$tw_damage_poison;
}


/* ----- movement types ----- */
.icon-burrowing::before {
  mask-image: svgs.$tw_movement_burrowing;
}
.icon-climbing::before {
  mask-image: svgs.$tw_movement_climbing;
}
.icon-flying::before {
  mask-image: svgs.$tw_movement_flying;
}
.icon-swimming::before {
  mask-image: svgs.$tw_movement_swimming;
}
.icon-walking::before {
  mask-image: svgs.$tw_movement_walking;
}
