/* We use list as a way to group content
   This removes the list-bullets and other stuff */
@mixin list {
  list-style-type: none !important;
  li {
    margin-inline-start: 0;
    &::before,
    span.list-bullet {
      display: none;
    }
  }
  br {
    display: none;
  }
}

/* for callout that are just used to put some stuff into a box
   this resets all the default styling */
@mixin callout {
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: unset;
  > .callout-title {
    display: none;
  }
  p {
    margin: 0;
  }
}
