@use "var";
@use "reset";

.has-float {
  @media (width > (var.$mobile-breakpoint * 1.2)) {
    float: right;
    margin: 0 0 1.5em 2em;
    width: 45%;
    max-width: calc(var(--file-line-width) / 2);
    position: relative;
    z-index: 10;
  }
}

[class^="el-"]:has(.float) {
  @extend .has-float;
}

ul.inline-list {
  @include reset.list;
  display: inline;
  padding: 0;
  > li {
    display: inline;
    &::after {
      content: " ";
      letter-spacing: 1em;
      background: linear-gradient(
        90deg,
        transparent calc(50% - 0.03125em),
        currentColor 0,
        currentColor calc(50% + 0.03125em),
        transparent 0
      );
      mask-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect y="2" width="10" height="7"/></svg>');
      mask-position: center;
      mask-size: cover;
    }
  }
}
