@use "sass:meta";
@use "sass:map";
@use "svgs";
@use "var";
@use "reset";
@use "util";

/* give the desktop view a little more vertical space */
body:has(.dnd5e-character-sheet) {
  --file-line-width: 60rem;
  /* --p-spacing: 0.25rem; */
}
.view-content:has(.dnd5e-character-sheet) {
  container-type: inline-size;
}

.dnd5e-character-sheet {
  @include meta.load-css("reset");
  p:empty {
    display: none;
  }
  table {
    width: 100%;
  }
  .el-h1,
  .el-h2,
  .el-h3 {
    clear: both;
  }
  .mb-view:has(.mb-view-hidden) {
    display: none;
  }
  .mb-view-hidden {
    display: none;
  }

  [data-callout~="conditions"] {
    --callout-icon: user-round-search;
    --callout-color: none;

    &[data-callout-metadata="float"] {
      @include util.float;
    }

    border-radius: var(--radius-xl);
    border: solid var(--border-width) var(--color-base-60);
    .callout-content {
      overflow-x: unset;

      .mb-card:has(.conditionsSelector) {
        padding:0;
        border: unset;
        .mb-select-input-element {
          margin-left: calc(-1*var(--size-4-2))
        }
      }

      .exhaustion-tracker {
        display: flex;
        gap: var(--p-spacing);
        margin-bottom: var(--p-spacing);
        .exhaustion {
          flex: 0 1 1.5em;
          border-radius: var(--radius-m);
          aspect-ratio: 1;
          outline: var(--border-width) solid var(--text-faint);
          &.x {
            background-color: var(--color-base-70);
          }
        }
      }
      .mb-button-group-inline:has(.minus,.plus) {
        margin-right: 2em;
      }

      .death-saves {
        h5 {
          margin-top: var(--heading-spacing);
        }
        p:has(b) {
          display: flex;
          gap: 1em 0.5em;
          align-items: center;
          justify-content: start;
          flex-wrap: wrap;
        }

        $color_success: rgb(from var(--color-green) r g b / 0.75);
        $color_failure: rgb(from var(--color-red) r g b / 0.75);
        b {
          flex: 0 1 1.1lh;
          display: grid;
          place-items: center;
          font-family: sans-serif;
          aspect-ratio: 1;
          border-radius: var(--radius-m);
          outline: 1px solid;
          &.success {
            outline-color: $color_success;
            &.x {
              background-color: $color_success;
            }
          }
          &.failure {
            outline-color: $color_failure;
            &.x {
              background-color: $color_failure;
            }
          }
        }
        .mb-button.success button {
          background-color: $color_success;
          color: var(--text-normal);
        }
        .mb-button.failure button {
          background-color: $color_failure;
          color: var(--text-normal);
        }
      }
    }
  }

  ul.ability-scores,
  ul.saving-scores,
  ul.senses-scores,
  ul.proficiency-scores,
  ul.combat-scores {
    @include reset.list;

    display: grid;
    justify-content: space-between;
    place-items: center;
    isolation: isolate;

    li {
      display: grid;
      place-items: center;
      align-content: center;
      border: calc(2*var(--border-width)) solid;
    }
    strong {
      font-weight: normal;
    }
    .val {
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      font-family: sans-serif;
    }
  }

  ul.ability-scores {
    gap: 2em 1em;
    justify-content: space-around;
    grid-template-columns: repeat(3, auto);
    @container ( width > #{var.$mobile-breakpoint} ) {
      grid-template-columns: repeat(6, auto) !important;
    }
    li {
      width: 4.5em;
      gap: 0.25em;
      padding: 0;
      border-radius: var(--radius-xl);
    }
    code:has(.val) {
      grid-row: 2;
      padding: 0;
      margin-bottom: 3px;
      color: inherit;
    }
    code:has(.sub) {
      grid-row: 3;
      width: 2.75em;
      font-size: 1em;
      border-radius: var(--radius-m) var(--radius-m) 0 0;
      border: var(--border-width) solid  var(--color-base-60) !important;
      text-align: center;
      margin-bottom: -1px;
      z-index: -1;
    }
    .mb-input {
      .mb-input-wrapper::before {
        content: attr(data-internal-value);
        display: block;
      }
      input {
        display: none !important;
      }
    }
  }

  &.markdown-preview-view .mb-input-inline:has(.proficiency-selector) {
    display: block !important;
    padding: 0;

    .proficiency-selector {
      display: grid !important;
      place-items: center;
      select {
        display: none;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 1.5em;
        aspect-ratio: 1;
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
      }
    }
    [data-internal-value="0"]::before {
      background-color: var(--text-faint);
      mask-image: svgs.$proficienty_not-proficient;
    }
    [data-internal-value="0.5"]::before {
      background-color: var(--text-normal);
      mask-image: svgs.$proficienty_half-proficient;
    }
    [data-internal-value="1"]::before {
      background-color: var(--color-accent);
      mask-image: svgs.$proficienty_proficient;
    }
    [data-internal-value="2"]::before {
      background-color: var(--color-accent);
      mask-image: svgs.$proficienty_expert;
    }
  }

  .proficiencies-table {
    table {
      height: 1px;
    }
    tr,
    td,
    td > div {
      height: 100%;
    }
    tr td:nth-of-type(3) {
      width: 100%;
    }
    tr td:nth-of-type(4) {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  .mb-view-inline [class*="twicon-"] {
    left: 0.2em;
    top: 50%;
    &:empty {
      display: none !important;
    }
  }
  table .mb-view-inline [class*="twicon-"] {
    translate: -0.2em -10%;
  }

  ul.saving-scores {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    justify-content: start;
    @container ( width < #{var.$mobile-breakpoint} ) {
      justify-content: space-around;
    }
    gap: 0.5em 1em;
    li {
      width: 100%;
      grid-template-columns: min-content auto min-content min-content;
      gap: 0.5em;
      padding-inline-end: 0.5em;
      border-radius: 100vw var(--radius-s) var(--radius-s) 100vw;
      > *:has(.proficiency-selector) {
        grid-column: 1;
        grid-row: 1;
      }
      > strong {
        grid-column: 2;
        justify-self: start;
      }
      > *:has(.val) {
        grid-column: 4;
      }
    }
  }

  ul.senses-scores {
    $left-offset: 1em;
    padding-block: 0.7em;
    grid-template-columns: auto;
    justify-items: start;
    gap: var(--p-spacing);
    margin-left: $left-offset;
    li {
      width: 100%;
      position: relative;
      padding-inline: 2.5em 1em;
      padding-block: 0.2em;
      border-radius: var(--radius-m);
      justify-content: start;

      *:has(.val) {
        position: absolute;
        text-align: center;
        width: 3em;
        aspect-ratio: 1;
        left: (-1 * $left-offset);
        border-radius: 50%;
        border: inherit;
        background-color: var(--background-primary);
        display: grid;
        place-items: center;
      }
    }
  }

  ul.proficiency-scores {
    padding-inline: 0 !important;
    justify-items: start;
    li:has(.proficiency-bonus) {
      padding: 0 2em;
      border-radius: var(--radius-s) 2em / var(--radius-s) 1em;
    }
  }

  ul.combat-scores {
    grid-template-columns: repeat(3, auto);
    li:has(.amour-class) {
      width: 5.5em;
      aspect-ratio: 1;
      border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
    }
    li:has(.initiative) {
      position: relative;
      padding-inline: 1em;
      border: unset;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 2px solid;
        transform: skewX(-15deg);
      }
      strong {
        translate: 0.25em;
      }
      .mb-view {
        translate: -0.25em;
      }
    }
    li:has(.speed) {
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      gap: 0 0.25em;
      padding-inline: 2em;
      border-radius: 2em;
      strong {
        margin-top: -0.2em;
        grid-column: span 3;
      }
    }
  }

  div:has(> ul.combat-scores):has(+ div [data-callout-metadata="float"]) {
    @container (width > #{var.$mobile-breakpoint * 1.2} ) {
      float: left;
      width: 50%;
    }
  }

  .actions-in-combat {
    @media (width > var.$mobile-breakpoint) {
      max-width: 50ch;
    }
    th {
      width: min-content;
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(4) {
        text-align: center;
        min-width: 6rem;
      }
    }
    td {
      vertical-align: middle;

      strong:not(.dice) {
        color: var(--color-accent);
      }
    }
  }

  .inventory-box > p {
    margin-block: var(--heading-spacing);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    gap: 1rem;
    > br {
      display: none;
    }
  }

  strong.dice {
    color: var(--text-normal);
    background: var(--interactive-normal);
    padding-inline: 0.2em;
    border-radius: 0.2em;
  }

  .action {
    font-weight: bold;
    color: var(--color-accent) !important;
  }
}

.dnd5e-character-sheet,
.dnd5e-character-item {
  .resource-tracker p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-block: calc(0.5 * var(--p-spacing));
    .charge,b {
      flex: 0 1 1.5em;
      aspect-ratio: 1;
      border-radius: var(--radius-m);
      outline: var(--border-width) solid var(--text-faint);
      display: inline-block;
      &.x {
        outline: none;
        background: linear-gradient(
          -50deg,
          var(--color-accent),
          rgb(from var(--color-accent) r g b / 0.75)
        );
      }
      overflow: hidden;
      &::before {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }
  .el-p:has(+ .el-pre .resource-tracker) {
    p {
      margin-bottom: calc(0.5 * var(--p-spacing));
    }
  }

  [data-callout="item-infos"] {
    // margin-top: calc(-1lh * var(--h2-line-height) + -1 * var(--p-spacing));
    margin-top: 0;
    float: right;
    margin-left: 1rem;
    padding: 0.5rem 1rem;

    .mb-button button {
      margin-top: 0.5em !important;
      height: auto;
    }

    .callout-title {
      display: none;
    }
    .callout-content {
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .markdown-embed {
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      // using 0 creates a scrollbar for some reason
      margin-bottom: 1px;
    }
  }
}
